{% extends 'basic.html' %}

{% block title %}
About Us
{% endblock title %}

{% block about %}
menu-active
{% endblock about %}

{% block body %}
<h2 class="text-center text-danger">About Us</h2>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="team-member">
        <img src="static/images/1.jpeg" class="img-fluid" alt="Team Member 1">
        <h3>Mojiz Zaidi</h3>
        <p>Computer engineering</p>
        <p>First year</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="team-member">
        <img src="static/images/2.jpeg" class="img-fluid" alt="Team Member 2">
        <h3>Nisan</h3>
        <p>Industrial  engineering</p>
        <p>Second Year</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="team-member">
        <img src="static/images/3.jpg" class="img-fluid" alt="Team Member 3">
        <h3>Sinem Kaya</h3>
        <p>Industrial Engineering</p>
        <p>Third Year</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="team-member">
        <img src="static/images/4.jpg" class="img-fluid" alt="Team Member 4">
        <h3>Gani</h3>
        <p>Industrial Engineering</p>
        <p>Third Year</p>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
